@using Skyline.WebMvc.ViewModels;
@model IEnumerable<ContactViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Contacts</h1>

<table class="table">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Address
            </td>
            <td>
                Province
            </td>
            <td>
                City
            </td>
            <td>
                EMail
            </td>
            <td>
                Mobile Number
            </td>
            <td>
                Status
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>
                    @contact.Id
                </td>
                <td>
                    @contact.Name
                </td>
                <td>
                    @contact.Province
                </td>
                <td>
                    @contact.City
                </td>
                <td>
                    @contact.Address
                </td>
                <td>
                    @contact.Email
                </td>
                <td>
                    @contact.MobileNumber
                </td>
                <td>
                    @contact.Status
                </td>
            </tr>
        }
    </tbody>
</table>